<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <h1>Death by... </h1>
  
  <h3>Beard</h3>
  <p>
    You are sitting at the family dinner table, eating and stroking your beard after a long day of hunting. Suddenly, as you are enjoying your turkey, some hair goes down your throat. You start choking, and cannot breath, due to the airway being plugged with facial hair. You are swallowing a hairball.  You die. This is what you get for not shaving. 
  </p>
<img src =http://img1.wikia.nocookie.net/__cb20090823134235/harrypotter/fr/images/7/74/PromoHP6_Albus_Dumbledore.jpg>  

</body>
</html>