<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Death By...</title>
  <link rel='stylesheet' type='text/css' href='css/style.css'>
</head>
<body>
  <h1>Death by... </h1>
  
  
  <form method="post">
    <div id = "gender">
    <h3>What's your gender?</h3>
    <input type="radio" name="q1" value="a"> Man /
    <input type="radio" name="q1" value="b"> Woman /
    <input type="radio" name="q1" value="c">Other
    </div>
      
  
    
     <div id = "kimKardashian">
    <h3>What's the name of Kim Kardashian's new baby?</h3>
    <br>
     <input type="radio" name="name" value="a">SouthWest Airlines approached the West family and offered them $15 million and free soda on all SouthWest flights to name their next baby South West
    <br>
     <input type="radio" name="q2" value="b"> East West
    <br>
     <input type="radio" name="q2" value="c"> West West
    <br>
     <input type="radio" name="q2" value="d"> Kayne Jr.
   <br>
    </div>
    
    
    
     <div id= "life">
    <h3>Where do you live?</h3>
  <br>
  
     <input type="radio" name="q3" value="a"> beach /
     <input type="radio" name="q3" value="b"> city /
     <input type="radio" name="q3" value="c"> suburb /
     <input type="radio" name="q3" value="d"> mountains
  </div>
    
  
    
    <div id = "chores">
    <h3>How many times a week do you do chores?</h3>
      //
    <input type="radio" name="q4" value="a">1-2 //
     <input type="radio" name="q4" value="b">3-5 //
     <input type="radio" name="q4" value="c">Every Day // 
     <input type="radio" name="q4" value="d">Never //
    </div>
    
    
    
    <div id = "tacoBell">
    <h3>How many times a week do you eat Taco Bell?</h3>
     <input type="radio" name="q5" value="a">0
    <br>
     <input type="radio" name="q5" value="b">1-2
    <br>
     <input type="radio" name="q5" value="c">3-5
    <br>
     <input type="radio" name="q5" value="d">All Day, 'Ery Day
    </div>
    
    
      
    <h3>You are faced with your worst fear. How do you react?</h3>
      <div id = "KimWest">
    1
    <img src ="http://i.huffpost.com/gen/1230937/images/s-KIM-KARDASHIAN-COPS-large.jpg">
    <input type="radio" name="q6" value="a">   //
    2
    <img src ="http://www.dippedincream.com/wp-content/uploads/2013/06/kim-kardashian-waterbroke.png">
    <input type="radio" name="q6" value="b">   //
    3
    <img src="http://wannabemagazine.com/wp-content/uploads/2013/11/kim-kardashian-crying-face-2-zap2it-300x250.jpg">
    <input type="radio" name="q6" value="c">   //
    4

    <img src=https://metrouk2.files.wordpress.com/2013/07/bg4nvtoceaae_1g.jpg id = "kimkardashian">
    <input type="radio" name="q6" value="d">   //
 
    </div>
      
   
    
    <div id = "Crazy Kim">
    <br>
    <h3>What is your reaction upon seeing this photo?</h3>
    <img src="http://i.ytimg.com/vi/su0Dg6Fttdg/maxresdefault.jpg" id = "vladmirPutin">
    <br>
    <br>
    <input type="radio" name="q7" value="a">I want that dude to run my country!
    <input type="radio" name="q7" value="b">Doesn't he have something better to do? Like, run my country?
    <input type="radio" name="q7" value="c">WTF? Is that George Bush?
    <input type="radio" name="q7" value="d">Stop making fun of my grandpa. 
    </div>
 
    <br>
   
    <div id = "Kanye Songs">
    <h3>What Kayne Song describes you most accurately?</h3>
    <input type="radio" name="q8" value="a">Gold Digger
    <input type="radio" name="q8" value="b">I am a God
    <input type="radio" name="q8" value="c">POWER
    <input type="radio" name="q8" value="d">Heartless
    </div>
    <br>
    <br>
    <div id = "8">
    <h3>Where would you go on vacation?</h3>
    <input type="radio" name="q9" value="a">Hawaii
    <input type="radio" name="q9" value="a">Space
    <input type="radio" name="q9" value="a">Mt. Everest
    <input type="radio" name="q9" value="a">North Korea
    
    <br>
    <br>
    
      <div id = "Bush">
    <h3>George Bush was a...?</h3>
    <input type="radio" name="q10" value="a">Terrible President
    <input type="radio" name="q10" value="b">An okay President
    <input type="radio" name="q10" value="c">The greatest President to ever grace the White House's halls.
    <input type="radio" name="q10" value="d"> Bush For World Leader 2016!!!
</div>
    
    <div id = "bush image">
    <img src ="http://freeforumsigs.com/ffs_gallery/albums/batch/YY-ppl%20male/4872_render_George_Bush.png" id = "bushPhoto">
    </div>

  <br>
  <input type="submit" value = "Find your Death">
  </form>

</body>
</html>