<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <h1>Death by... </h1>
  
  <h3>Lawnmower</h3>
  
  <p>
 It is a nice day, and you are walking along with your trusty dog, Sam, when all of a sudden Sam begins to bark up at the sky. You see a small object far above in the sky and resume your walk as you conclude that the object must be a bird or a plane. 5 minutes pass but Sam has been acting strange, looking around and whining quietly. Then Sam once again begins to bark up at the sky; this time he has stopped walking and is staring straight up at the sky. Frustrated you try to pull Sam but he won’t budge. Now you are incredibly irritated and you turn around to tell Sam its only a bird but you see a lawnmower hurtling towards you as panic consumes your body. The lawnmower hits your body with crushing force. Sam is finally free from your reign of terror and lives a life of tranquility and happiness with a homeless man. A lawnmower has killed you. Not even like a good lawnmower like a John Deere or anything, like one of those really old rusty ones that half the time don't even work. C'mon man.
  </p>
  
<iframe width="420" height="315" src="https://www.youtube.com/embed/FvIXJBrclLY" frameborder="0" allowfullscreen></iframe>
  


</body>
</html>