<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/responseCSS.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Death By...</title>
</head>
<body>
  <h1>Death by...</h1>
  
  <h3><=% @header %></h3>
  
  <p>
    <=% @text %>
  </p>
  
 <img src="<=% @img-url %>">
  


</body>
</html>