<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <h1>Death by... </h1>
  
  <h3>Spontaneous Combustion</h3>
  <p>
  After a 17 year marriage ends in a divorce you realize you have to get back in shape for the your big return to the dating scene. Over the years you have developed quite a beer belly and have begun to eat your food off your stomach like an otter. You hire a personal trainer to yell at you to lift heavy things. You feel pretty good after the first week! You can do 5 reps of 5 lbs dumbbells! But when week 3 rolls around you notice after each day you feel incredibly hot. Must be a fever, you think. I’m fine, you say. What is going on, you wonder. One day you decide to check your temperature with a thermometer. You are shocked when it reads 300 degrees Fahrenheit you look at the mirror and a body engulfed in flames stares back at you. It’s too late. You have spontaneously combusted. 

  </p>
<img src =http://www.101diettips.com/wp-content/uploads/2009/08/chestfat-300x199.jpg>  

</body>
</html>