<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <h1>Death by... </h1>
  
  <h3>Toilets</h3>
  
  <p>
 You’ve just come home from a long day at work. You don’t want to think about work so  you watch some TV, eat a hot pocket, and decide to get an early night. You shower, brush your teeth, and go to the bathroom. While on the toilet you decide to check your phone for the presumably 50 missed calls and 1,000 emails from work. You read all the emails and respond to a few. You are halfway through the voicemails when your phone dies so you go to stand up but your legs don’t work. You have been sitting on the toilet for hours. Your legs are no longer asleep, they are in a coma. Since you live alone no one can hear you cry for help. The toilet has killed you.
  </p>
  <img src="http://i.ytimg.com/vi/ZR5t4kXyVns/maxresdefault.jpg">


</body>
</html>