<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Creepster' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <h1>Death by... </h1>
  
  <h3>Volcano</h3>
  <p>
  While on a hike up a mountain you peek over the edge into a big crater and see hot magma bubbling all around. You 15 year old daughter, mad that you cut her data plan in half, kicks you into the magma and takes a selfie of you and her with the selfie stick you got her for Christmas dying and posts it on Instagram. #GetYourDaughterTheUnlimitedDataPlan

  </p>
<img src =http://thumbs.dreamstime.com/x/angry-girl-22841364.jpg>  

</body>
</html>